#!/usr/bin/make -f

DIR := $(CURDIR)
DESTDIR := $(DIR)/debian/tmp
DISTRIB_VERSION := $(shell lsb_release -sr)
RM_PLUGINS := $(shell ls PLUGINS/src/)
MAKE_ARGS := PREFIX=/usr RESDIR=/usr/share/vdr VIDEODIR=/var/lib/video.00 \
             CONFDIR=/etc/vdr CACHEDIR=/var/cache/vdr LIBDIR=/usr/lib/vdr/plugins \
             DESTDIR="$(DESTDIR)"

%:
	dh $@ --parallel

override_dh_auto_build:
	for i in $(RM_PLUGINS); do /bin/rm -rf "$(DIR)/PLUGINS/src/$$i"; done
	unset CFLAGS CPPFLAGS CXXFLAGS; $(MAKE) $(MAKE_ARGS)

override_dh_auto_install:
	unset CFLAGS CPPFLAGS CXXFLAGS; $(MAKE) install $(MAKE_ARGS)

# Includes
	cp -pLR "$(DIR)/include" "$(DESTDIR)/usr"

# pkg-config
	[ -d "$(DESTDIR)/usr/lib/pkgconfig" ] || mkdir -p "$(DESTDIR)/usr/lib/pkgconfig"
	cp -pLR "$(DIR)/vdr.pc" "$(DESTDIR)/usr/lib/pkgconfig"

# Configs
	cp -r "$(DIR)/debian/configs"/* "$(DESTDIR)"

# Scripts
	cp -r "$(DIR)/debian/scripts/common"/* "$(DESTDIR)"
	
ifeq ($(shell dpkg --compare-versions '$(DISTRIB_VERSION)' lt '14.10'; echo $$?),0)
	cp -r "$(DIR)/debian/scripts/upstart"/* "$(DESTDIR)"
else
	cp -r "$(DIR)/debian/scripts/systemd"/* "$(DESTDIR)"
endif
	
override_dh_strip:
	dh_strip -pvdr --dbg-package=vdr-dbg
	dh_strip

override_dh_installdocs:
