#!/usr/bin/make -f

DIR := $(CURDIR)
DESTDIR := $(DIR)/debian/tmp
NPROC := $(shell getconf _NPROCESSORS_ONLN)

%:
	dh $@

override_dh_auto_configure:
	./configure

override_dh_auto_build:
	dh_auto_build -- -j$(NPROC)
	txt2man -s 1 -t vdr-sxfe -v "Remote X-Server frontend for vdr-plugin-xineliboutput" debian/vdr-sxfe.1.txt >vdr-sxfe.1
	txt2man -s 1 -t vdr-fbfe -v "Remote Framebuffer frontend for vdr-plugin-xineliboutput" debian/vdr-fbfe.1.txt >vdr-fbfe.1

override_dh_auto_clean:
	$(MAKE) -o .dependencies clean $(MAKE_OPTIONS)
	rm -f vdr-sxfe.1 vdr-fbfe.1

override_dh_auto_install:
	[ -d "$(CURDIR)/debian/tmp/usr/lib/vdr/plugins" ] || mkdir -p "$(CURDIR)/debian/tmp/usr/lib/vdr/plugins"
	dh_auto_install -- DESTDIR="$(DESTDIR)" PREFIX="$(DESTDIR)"
	install -m 644 -D debian/icon.svg "$(DESTDIR)/usr/share/icons/xineliboutput-sxfe.svg"
	install -m 644 -D debian/icon.svg "$(DESTDIR)/usr/share/icons/xineliboutput-fbfe.svg"
