[Unit]
Description=ACE Proxy
After=network.target

[Service]
User=aceproxy
ExecStart=/usr/bin/aceproxy
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target