[Unit]
Description=ACE Proxy
After=vdr.service
StopWhenUnneeded=true

[Service]
Type=simple
User=aceproxy
ExecStart=/usr/bin/aceproxy
RestartSec=1
Restart=on-failure

[Install]
WantedBy=vdr.service
