#!/usr/bin/make -f

%:
	dh $@

DESTDIR := $(CURDIR)/debian/aceproxy
DISTRIB_VERSION := $(shell lsb_release -sr)

.PHONY: override_dh_auto_install override_dh_installdocs override_dh_installchangelogs

override_dh_auto_install:
	mkdir -p "$(DESTDIR)/etc/aceproxy"
	mkdir -p "$(DESTDIR)/usr/share/aceproxy"
	ls "$(CURDIR)" | grep -v 'debian' | xargs -I '{}' cp -rv '{}' "$(DESTDIR)/usr/share/aceproxy"
	mv "$(DESTDIR)/usr/share/aceproxy/aceconfig.py"                   "$(DESTDIR)/etc/aceproxy/"
	mv "$(DESTDIR)/usr/share/aceproxy/plugins/config/allfon.py"       "$(DESTDIR)/etc/aceproxy/"
	mv "$(DESTDIR)/usr/share/aceproxy/plugins/config/p2pproxy.py"     "$(DESTDIR)/etc/aceproxy/"
	mv "$(DESTDIR)/usr/share/aceproxy/plugins/config/playlist.py"     "$(DESTDIR)/etc/aceproxy/"
	mv "$(DESTDIR)/usr/share/aceproxy/plugins/config/torrenttelik.py" "$(DESTDIR)/etc/aceproxy/"
	mv "$(DESTDIR)/usr/share/aceproxy/plugins/config/torrenttv.py"    "$(DESTDIR)/etc/aceproxy/"
	sed -i -r 's/acespawn *= *False/acespawn = True/'         "$(DESTDIR)/etc/aceproxy/aceconfig.py"
	
ifeq ($(shell dpkg --compare-versions '$(DISTRIB_VERSION)' lt '14.10'; echo $$?),0)
	mkdir -p "$(DESTDIR)/etc/init"
	cp -v "$(CURDIR)/debian/"*.conf "$(DESTDIR)/etc/init"
else
	mkdir -p "$(DESTDIR)/etc/systemd/system"
	cp -v "$(CURDIR)/debian/"*.service "$(DESTDIR)/etc/systemd/system"
endif

override_dh_installdocs override_dh_installchangelogs:
