Source: vdr-plugin-wirbelscan
Section: video
Priority: extra
Maintainer: Andrey Pavlenko <andrey.a.pavlenko@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), vdr-dev (>= #VDR_VERSION#), gettext, libzvbi-dev, pkg-config
Standards-Version: 3.9.1
Homepage: http://wirbel.htpc-forum.de/wirbelscan/index2.html

Package: vdr-plugin-wirbelscan
Architecture: any
Depends: vdr (>= 1.7.38), ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}
Description: Channelscan plugin for VDR
 This plugin allows you to scan for new channels. DVB-T and DVB-C are supported
 as well as DVB-S and pvrinput/ptv (analog) scan.
