Source: vdr-plugin-live
Section: video
Priority: extra
Maintainer: #MAINTAINER#
Build-Depends: debhelper (>= 7.0.50~), vdr-dev (>= #VDR_VERSION#),
 dpatch, libtntnet-dev, libcxxtools-dev, libssl-dev, pkg-config
Standards-Version: 3.9.3
Homepage: http://live.vdr-developer.org

Package: vdr-plugin-live
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vdr (>= #VDR_VERSION#)
Description: Web administration plugin for VDR
 Live, the "Live Interactive VDR Environment", is a plugin providing the
 possibility to interactively control the Linux Video Disc Recorder VDR and
 some of it's plugins from a web interface.
 .
 Unlike external programs, like the VDR web frontend "VDRAdmin-AM", that 
 communicate  with VDR via its SVDRP socket interface, Live has direct
 access to VDR's data structures and thus is very fast.
