Source: vdr-plugin-streamdev
Section: video
Priority: extra
Maintainer: #MAINTAINER#
Build-Depends: debhelper (>= 7.0.50~), vdr-dev (>= #VDR_VERSION#), gettext, 
 pkg-config
Standards-Version: 3.9.3
Homepage: http://streamdev.vdr-developer.org
Vcs-Git: git://git.debian.org/git/pkg-vdr-dvb/vdr-plugin-streamdev.git
Vcs-Browser: http://git.debian.org/?p=pkg-vdr-dvb/vdr-plugin-streamdev.git

Package: vdr-plugin-streamdev-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vdr (>= #VDR_VERSION#)
Description: VDR Plugin to stream Live-TV to other VDR's - client part 
 This plugin for vdr lets the software stream videos into
 the network. You can interconnect several vdrs that way
 or watch those streams with special client apps like video
 lan client or mplayer. This is the client part.
Vcs-Git: git://git.debian.org/git/pkg-vdr-dvb/vdr-plugin-streamdev.git
Vcs-Browser: http://git.debian.org/?p=pkg-vdr-dvb/vdr-plugin-streamdev.git

Package: vdr-plugin-streamdev-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vdr (>= #VDR_VERSION#)
Description: VDR Plugin to stream Live-TV to other VDR's - server part 
 This plugin for vdr lets the software stream videos into
 the network. You can interconnect several vdrs that way
 or watch those streams with special client apps like video
 lan client or mplayer. This is the server part.
