Source: vdr-plugin-iptv
Section: video
Priority: extra
Maintainer: #MAINTAINER#
Build-Depends: debhelper (>= 8.0.0), vdr-dev (>= #VDR_VERSION#), pkg-config,
 cdbs, gettext, libcurl4-openssl-dev
Standards-Version: 3.9.4
Homepage: http://www.saunalahti.fi/~rahrenbe/vdr/iptv/

Package: vdr-plugin-iptv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vdr (>= #VDR_VERSION#)
Recommends: vlc, youtube-dl
Description: IPTV plug-in for VDR
 This plug-in for the Linux Video Disc Recorder (VDR) seamlessly integrates
 multicast IPTV transport streams. You can use any IPTV channel like any other
 normal DVB channel for live viewing, recording, etc. The plug-in also features
 full section filtering capabilities which allow for example information
 to be extracted from the Event Information Tabel (EIT) embedded in the incoming
 stream.
 .
 Currently the IPTV plug-in has direct support for both multicast UDP/RTP
 and unicast HTTP MPEG1/2 transport streams.
